@model IEnumerable<test1.Models.db.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Home</h1>
    <h3>@ViewData["customer"] </h3>

    <p>@ViewData["result"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th> Customer Id</th>
                    <th>Customer Name </th>
                    <th>Customer Address </th>
                </tr>
            </thead>    
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.ProductId</td>
                        <td>@items.ProductName</td>
                        <td>@items.ProductPrice</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

   
</div>

